name: Lint
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "0"
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: jdx/mise-action@v3

      - name: Check gofmt formatting
        run: mise run fmt:check

      - name: Run golangci-lint
        run: mise run lint

      - name: Check go.mod tidiness
        run: mise run lint:gomod
