name: Lint
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: jdx/mise-action@v3

      - name: Run linters
        run: mise run lint

      # So this golangci-lint uses the same config as `mise run lint:go`, but using special sauce to
      # create inline feedback on GitHub's UI.  On local dev, the same issues should be surfaced by
      # mise-tasks/lint/go
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
